:root{
  --main-color: #fb6d10;
  --color--logo: #f5978c;
  --dark-color: #11152a;
  --light-color: #d0d4de;

  --color-prim: #fb6d10;
  --color-primD1:#ff893b;
  --color-primD2:#ff9550;
  --color-primD3:#ffaa72;
  --color-primD4: #ffbb8f;
  
  --color-sec:#b31e43;
  --color-secD1:#d1496b;
  --color-secD2:#ff7a9b;
  --color-secD3:#ffaabf;

  --color-ter:#483042;

  --color-cua:#666680;
  --color-cuaD1:#57576f;
  --color-cuaD2:#8a8ab1;
  --color-cuaD3:#8a8ab1;
}
App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
