.pricesTableContainer{    
    display: flex;    
    flex-direction: column;
    padding: 1% 4% 4% 4%; 
    max-width: 100%;
    max-height: 900px;    
}
.pricesTable{        
    margin-top: 3%;
    color: #fff;    
    border-radius: .4rem;
    vertical-align: middle; 
    padding: auto;
    box-shadow:  0 0 25px var(--color-prim);
}
.classesTableContainer{
    margin-top: 7%;
    margin-bottom: 7%;
    font-size: xxx-large;
    font-style: italic;
    font-weight: 600;
    color: black;
}
.expand{
    transition: 0.5s;
    width: 100%; 
    background-image: url('../../../asets/images/gym4.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}


.expand:hover{        
    cursor: pointer;    
    height: 300px;
    color: black;
}
