.mainBoxCards2 {
    margin-top: 0rem;
    /* border: 2px solid #FEAA09; */
    height: auto;
    width: 100%;

}

.boxCards2 {
    /* border: 2px solid #096bfe; */
    width: auto;
    height: auto;
    padding-bottom: 60px;
    padding-top: 20px;
}