.mainContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.mainTitle{
    background-color: #a09e98bb;
    border-radius: 15px;
    padding: .5em .5em;
}

.mapContainer{
    width: 80vw;
    height: 70vh;
    background-color: #2a353f85;
}

.ubicationDiv{
    background-color: #a09e98bb;
    border-radius: 10px;
    padding: .5em .5em;

}

.btnMapSend{
    background-color: #587967ab;
    border-radius: 5px;
    padding: .5em .5em;
    box-shadow: 3px 3px 2px #2a353f85;
    margin-top: .3em;
    margin-bottom: .3em;
    border: 2px solid #2a353f85;
    border-style: outset;
}

.btnMapSend:hover{
    background-color: #78a88eab;
    border-radius: 5px;
    padding: .5em .5em;
    box-shadow: 1px 1px 1px #798b9c85, -1px -1px 1px #798b9c85;
    margin-top: .3em;
    margin-bottom: .3em;
}

.btnMapSend:active{
    border-style: inset;
}

.alertDiv{
    background-color: #f8e4d4bb;
    border-radius: 10px;
    padding: .5em .5em;    
}