.nav img{
    float: left;
    padding-left: 100px;
    width: 150px;
    height: 130px;
    cursor: pointer;
}
.img{
    width: 0px;
}
.img img{
    width: 600px;
    margin-left: 50px;
    border-radius: 10px;
}
.pq{
    display: flex;
    padding-left: 500px;
}
.pq h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    font-size:xx-large;
    color: rgba(72,48,66,1);
    padding-top: 50px;
    height:50px;
}
.containLegend{
    width: 500px;
    margin-left: 750px;
    position: relative;
}
.containLegend h3{
    color: rgb(14, 14, 43);
    margin-top: -420px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, monospace;
    font-style: italic;
    font-weight: 500;
}
.containLegend h2{
    color: #fff7f5;
    text-align: center;
    background-color: rgba(72,48,66,1);
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    font-size:large;
}
.btn{
    width: 100px;
    height: 40px;
    background-color: #f5978c;
    border-radius: 5px;
    border: 1px solid rgba(72,48,66,1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color:rgb(14, 14, 43);
    cursor: pointer;
    box-shadow: 0.1em 0.1em gray;
}
.btn:hover{
    transform: scale(1.1);
    border:0;
    box-shadow: 0.1em 0.1em #f5978c;
}
