.input {
    padding: 5px;
    font-size: 11px;
    border-width: 2px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: groove;
    border-radius: 11px;
    box-shadow: 1px 0px 22px rgba(110,210,244,.64);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    
    
    
}
.input:focus {
    outline:none;
}

.parrafo {
    color: red;
}

.inputError {
    padding: 5px;
    font-size: 11px;
    border-width: 2px;
    border-color: #ff0101;
    background-color: #FFFFFF;
    color: #000000;
    border-style: groove;
    border-radius: 11px;
    box-shadow: 1px 0px 22px rgba(255, 0, 0, 0.64);
    text-shadow: 0px 0px 5px rgb(255, 1, 1);
    
}