.boxNavBarProfile {
    margin: auto;
    width: 100%;
    height: 6vh;
    background: #383838ed;
    background: linear-gradient(180deg, #383838ed 0%, #747373 44%, #383838ed 100%);
    border: 2px solid #383838ed;
    text-decoration: none;
    margin-bottom: 0;
    z-index: 10;
}
a{
    text-decoration: none;
    color: #abaf9a;
}

.listNavBar{
    display: inline-block;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: right;
    text-decoration: none;
}

.itemsNavBarProfile {
    font-size: 1rem;
    float: left;
    margin-right: .5em;
    margin-left: .5em; 
    padding: 0 6px;
    border-radius: 2rem;
    margin-top: 0px;
    text-align:center;
    justify-content:center;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #383838ed;
    line-height: 4.5vh;
    color: #abaf9a;
    border-style: outset;
    /* text-shadow: 1px 1px #f3fdc6; */
} 
.nameProfile {
    cursor: default;    
}