.contDat {
    width: 100%;
    /* height: 30vh; */
    /* background-color: red; */
    z-index: 9;
    display: flex;
    align-items: center;
    padding: 80px 0px 100px 0px;
    /* padding-top: 100px; */
    justify-content: space-around;
  }
  
  .titleCarrito {
    font-size: 29px;
    color: #fff;
    text-align: center;
    font-weight: 700;
  }
  
  .contServices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
  }
  
  .contCarr {
    background-color: transparent;
    color: #fff;
    padding: 20px;
  }
  
  .table {
    background-color: transparent;
    display: flex;
  }
  .contServ {
    padding: 2px 2px 2px 2px;
  }
  
  .titleTable {
    display: flex;
  }
  
  .contTotalC {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    align-content: center;
    font-weight: 700;
  }