.mainBoxCards {
    margin-top: 2.5rem;
    height: auto;
    width: 100%;
    text-decoration: none;
}

.boxCards {
    width: auto;
    color: #fff;
    font-size: 1.2rem;
    height: auto;
    padding-bottom: 60px;
    padding-top: 40px;
    text-decoration: none;
}