.main-box-cards {
    border: 2px solid #FEAA09;
    height: auto;
    width: 90%;
    margin: 0 auto;
}

.box-cards {
    border: 2px solid #096bfe;
    width: auto;
    height: auto;
    padding-bottom: 60px;
    padding-top: 40px;
}