.mainBoxCards {
  margin-top: 2.5rem;
  height: auto;
  width: 100%;
  text-decoration: none;
  padding: 20px;
}

.boxCards {
  width: 90%;
  color: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  text-decoration: none;
  display: flex;
  gap: 7rem;
  flex-wrap: wrap;
}
