.mainBoxCards {
    /* margin-top: 5rem; */
    border: 2px solid #FEAA09;
    height: auto;
    width: 100%;
    text-decoration: none;
}

.boxCards {
    background:rgb(148, 153, 51);
    width: auto;
    height: auto;
    padding-bottom: 60px;
    padding-top: 40px;
    text-decoration: none;
}