.containCp{
    display: flex;
}

.containEx{
    background-color: #fff7f5;
    width: 220px;
    height: 390px;
    border: 1px solid #0b0b15;
    border-radius: 5px;
}

.containEx h2{
    text-align: center;
    font-style: italic;
    font-weight: 900;
    color: #f5978c;
    text-shadow: 0.05em 0.05em rgba(72, 48, 66,1);
    font-size:xx-large;
    margin-top: 0px;
}

.containEx li{
   width: 180px;
   margin-left: -15px;
   font-size: small;
   font-style: normal;
   font-family: Verdana, Geneva, Tahoma, monospace;
   font-weight: 600;
   color: rgba(72, 48, 66,1);

}

.containEx h4{
    margin-left: 10px;
    background-color: #f5978c;
    width: 200px;
    border: 1px solid rgba(72, 48, 66,1);
    border-radius: 2px;
    color:rgba(72, 48, 66,1);
    margin-top: -10px;
}
