.containP{
position: relative;
}

.containSlideShow{
display: flex;
flex-wrap: nowrap;
overflow: hidden;
}

.slide{
min-width: 100%;
max-height: 500px;
/* width: 50%; */
overflow: hidden;
transition: .3s ease alt;
z-index: 9;
position: relative;
}

.slide img{
    width: 40%;
    vertical-align: top;
    cursor: pointer;
    margin-right: 700px;
} 


