.containerMainDetailAdmin {
  width: 75%;
  color: #fff;
  margin: 1.2rem auto;
}

.headerPerfilAdmin {
  border-bottom: 1px solid var(--color-primD1);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstHeaderProfileAdmin {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.secondHeaderProfileAdmin {
  background-color: #cfcfcf;
  color: rgb(66, 66, 66);
  margin-bottom: 0.5rem;
  padding: .4rem .9rem;
  height: 70px;
  font-weight: 700;
  border-radius: 0.6rem;
}
