
.containerAvatar {
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.containerCardAvatar {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.card {
  width: 280px;
}

.cardContent {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.card:hover .cardContent {
  transform: rotateY(0.5turn);
}

.cardFront,
.cardBack {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.cardFront {
  background-color: #483042be;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  font-size: 0.75rem;
  color: #f5978c;
}

.cardFront::before {
  content: "";
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid #f5978c;
  transform: var(--level-one);
}

.cardTitle {
  font-size: 1.8rem;
  transform: var(--level-three);
  order: 2;
  text-transform: uppercase;
}

.cardSubtitle {
  transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  opacity: 0.7;
}

.cardBody {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: .5rem;
  line-height: 1.6;
}

.cardBack {
  transform: rotateY(0.5turn);
  color: var(--clr);
  background: #f5978c;
}

.btnSelectAvatar {
  background: transparent;
  border: 1.5px solid #483042;
  padding: 1rem;
  font-weight: 700;
}

.btnSelectAvatar:hover {
  cursor: pointer;
  background: #fff;
  border: none;
  font-weight: 700;
  color: #f5978c;
  transition: all 0.5s ease-in-out;
}

.listFeaturesAvatar {
  list-style: circle;
  text-align: left !important;
  margin: 1rem auto;
}

@media (max-width: 1600px) {
  .containerAvatar {
    width: 100%;
    height: 100%;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .containerCardAvatar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .card {
    width: 100%;
  }

  .cardBody {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .cardTitle {
    font-size: 1.3rem;
    font-weight: 700;
    transform: var(--level-three);
    order: 2;
    text-transform: uppercase;
  }

  .cardBack {
    transform: rotateY(0.5turn);
    color: var(--clr);
    background: #f5978c;
    font-size: .9rem;
  }
}

@media (max-width: 1200px) {
  .containerAvatar {
    width: 100%;
    height: 100%;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .containerCardAvatar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .card {
    width: 100%;
  }

  .cardContent {
    text-align: center;
    position: relative;
    padding: 12em 5em;
    transition: transform 3s;
    transform-style: preserve-3d;
  }

  .cardBody {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .cardTitle {
    font-size: 1.1rem;
    font-weight: 700;
    transform: var(--level-three);
    order: 2;
    text-transform: uppercase;
  }

  .cardBack {
    transform: rotateY(0.5turn);
    color: var(--clr);
    background: #f5978c;
    line-height: 100%;
    /* height: 10px; */
    font-size: .80rem;
  }
}

@media (max-width: 1000px) {
  .containerAvatar {
    width: 100%;
    height: 100%;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .containerCardAvatar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .card {
    width: 32%;
    margin: 0 auto;
  }

  .cardContent {
    text-align: center;
    position: relative;
    padding: 10em 5em;
    transition: transform 3s;
    transform-style: preserve-3d;
  }

  .cardBody {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .cardTitle {
    font-size: 1.1rem;
    font-weight: 700;
    transform: var(--level-three);
    order: 2;
    text-transform: uppercase;
  }
}
