/* AQUI VA EL ESTILO DEL BOTON PRIMARIO */

.btnPrimario {
  font-size: 1.2rem;
  font-weight: 700;
  /* color: #1fe8b6; */
  /* color: #f5c400; */
  color: #ff004c;
  /* border: 3px solid #1fe8b6; */
  border: 3px solid #ff004c;
  /* border: 3px solid #f5c400; */
  text-align: center;
  height: 3rem;
  border-radius: 26px;
  line-height: 2.8rem;
  cursor: pointer;
  position: relative;
  transition: all 0.9s;
}

.btnPrimario:hover {
  background-color: #ff004c;
  /* background-color: #f5c400; */
  /* background-color: #1fe8b6; */
  color: rgb(238, 238, 238);
  transition: all 0.5s;
}

.btnPrimario::before,
.btnPrimario::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 26px 0 26px 0;
  border: inherit;
  transition: all 0.5s;
}

.btnPrimario::before {
  top: -10px;
  left: -10px;
  border-width: 3px 0 0 3px;
}

.btnPrimario::after {
  bottom: -10px;
  right: -10px;
  border-width: 0 3px 3px 0;
}

.btnPrimario:hover::before,
.btnPrimario:hover::after {
  width: calc(100% + 20px);
  border-radius: 29px;
  height: calc(100% + 20px);
}

/* AQUI VA EL ESTILO DEL BOTON PRIMARIO CHICO */

.btnPrimarioSmall {
  font-size: 1rem;
  font-weight: 700;
  /* color: #f5c400; */
  color: #ff004c;
  /* color: #1fe8b6; */
  /* border: 3px solid #f5c400; */
  border: 3px solid #ff004c;
  /* border: 3px solid #1fe8b6; */
  padding: 0 30px;
  height: 2.2rem;
  line-height: 2rem;
  border-radius: 26px;
  cursor: pointer;
  position: relative;
  transition: all 0.9s;
}

.btnPrimarioSmall:hover {
  /* background-color: #f5c400; */
  background-color: #ff004c;
  /* background-color: #1fe8b6; */
  color: rgb(238, 238, 238);
  transition: all 0.5s;
}

.btnPrimarioSmall::before,
.btnPrimarioSmall::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 26px;
  border: inherit;
  transition: all 0.5s;
}

.btnPrimarioSmall::before {
  top: -8px;
  left: -8px;
  border-width: 3px 0 0 3px;
}

.btnPrimarioSmall::after {
  bottom: -8px;
  right: -8px;
  border-width: 0 3px 3px 0;
}

.btnPrimarioSmall:hover::before,
.btnPrimarioSmall:hover::after {
  width: calc(100% + 15px);
  height: calc(100% + 15px);
}

/* AQUI VAN LOS ESTILOS DEL BUTTON SIMPLE */

.btnSimple {
  font-size: 1rem;
  font-weight: 700;
  /* color: #f5c400; */
  color: #ff004c;
  /* color: #fe914c; */
  /* border: 3px solid #f5c400; */
  border: 3px solid #ff004c;
  /* border: 3px solid #fe914c; */
  height: 2.2rem;
  line-height: 1.8rem;
  border-radius: 26px;
  cursor: pointer;
  position: relative;
  transition: all 0.9s;
}

.btnSimple:hover {
  /* background-color: #f5c400; */
  background-color: #ff004c;
  /* background-color: #fe914c; */
  color: rgb(238, 238, 238);
  transition: all 0.5s;
}

/* AQUI VAN LOS ESTILOS DEL BUTTON SECUNDARIO SIMPLE */

.btnSecondarioSimple {
  font-size: 1.1rem;
  font-weight: 700;
  /* background-color: #fe914c; */
  /* background-color: #f5c400; */
  background-color: #ff004c;
  color: rgb(238, 238, 238);
  height: 2.2rem;
  line-height: 2.2rem;
  border-radius: 26px;
  cursor: pointer;
  position: relative;
  transition: all 0.9s;
}

.btnSecondarioSimple:hover {
  /* color: #fe914c; */
  color: #f5c400;
  color: #ff004c;
  background-color: transparent;
  /* background-color: rgb(238, 238, 238); */
  border: 1px solid #ff004c;
  line-height: 2.1rem;
  transition: all 0.9s;
}

/* AQUI ESTA LA CARD DE AVATARES */
.containerCardAvatares {
  width: 220px;
  height: 225px;
  border: 1px solid #ff004c;
  margin: 0 auto;
  line-height: 225px;
  text-align: center;
}

/* AQUI ESTA LA CARD OFICIAL DE LOS AVATARES */

.containerAvatar {
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.containerCardAvatar {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.card {
  width: 280px;
}

.cardContent {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.card:hover .cardContent {
  transform: rotateY(0.5turn);
}

.cardFront,
.cardBack {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.cardFront {
  background-color: #1a1a1a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  font-size: 0.75rem;
  color: #ff004c;
}

.cardFront::before {
  content: "";
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid #ff004c;
  transform: var(--level-one);
}

.cardTitle {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  margin: 0 auto;
  font-size: 0.75rem;
  color: #ff004c;
}

.cardSubtitle {
  transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  opacity: 0.7;
}

.cardBody {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 0.5rem;
  line-height: 1.6;
}

.cardBack {
  transform: rotateY(0.5turn);
  color: var(--clr);
  background: #ff004c;
}

.btnSelectAvatar {
  background: transparent;
  border: 1.5px solid #483042;
  padding: 1rem;
  font-weight: 700;
}

.btnSelectAvatar:hover {
  cursor: pointer;
  background: #fff;
  border: none;
  font-weight: 700;
  color: #ff004c;
  transition: all 0.5s ease-in-out;
}

.listFeaturesAvatar {
  list-style: circle;
  font-weight: 600;
  text-align: left !important;
  margin: 1rem auto;
}

@media (max-width: 1600px) {
  .containerAvatar {
    width: 100%;
    height: 100%;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .containerCardAvatar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .card {
    width: 100%;
  }

  .cardBody {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .cardTitle {
    font-size: 1.3rem;
    font-weight: 700;
    transform: var(--level-three);
    order: 2;
    text-transform: uppercase;
  }

  .cardBack {
    transform: rotateY(0.5turn);
    color: var(--clr);
    background: #ff004c;
    font-size: 0.9rem;
  }
}

@media (max-width: 1200px) {
  .containerAvatar {
    width: 100%;
    height: 100%;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .containerCardAvatar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .card {
    width: 100%;
  }

  .cardContent {
    text-align: center;
    position: relative;
    padding: 10em 3em;
    transition: transform 3s;
    transform-style: preserve-3d;
  }

  .cardBody {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .cardTitle {
    font-size: 1.1rem;
    font-weight: 700;
    transform: var(--level-three);
    order: 2;
    text-transform: uppercase;
  }

  .cardBack {
    transform: rotateY(0.5turn);
    color: var(--clr);
    background: #ff004c;
    line-height: 100%;
    /* height: 10px; */
    font-size: 0.8rem;
  }
}

@media (max-width: 1000px) {
  .containerAvatar {
    width: 100%;
    height: 100%;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .containerCardAvatar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .card {
    width: 32%;
    margin: 0 auto;
  }

  .cardContent {
    text-align: center;
    position: relative;
    padding: 10em 5em;
    transition: transform 3s;
    transform-style: preserve-3d;
  }

  .cardBody {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .cardTitle {
    font-size: 1.1rem;
    font-weight: 700;
    transform: var(--level-three);
    order: 2;
    text-transform: uppercase;
  }
}

/* AQUI ESTA EL BOTON DE BACK */

.btnBack {
  background-color: #ff004c;
  color: #fff;
}
.btnBack:hover {
  box-shadow: 0 0 10px #ff004c;
  cursor: pointer;
}


/* AQUI ESTA MI BOTTON DESLICE */

.btnDeslice {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #ff004c;
  box-shadow: 0 0 20px #ff004c;
  color: #ff004c;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  border-radius: 26px;
  position: relative;
  overflow: hidden;
}


.btnDeslice span {
  position: relative;
  z-index: 2;
  font-weight: 900;
  transition: .3s ease all;
}

.btnDeslice::after {
  content: "";
  width: 100%;
  background-color: #ff004c;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -100%;

  border-bottom: 80px solid #ff004c;
  border-right: 80px solid transparent;
  transition: .4s ease-in-out all;
}

.btnDeslice:hover {
  color:#fff;
  transition: .4s ease-in-out all;
}

.btnDeslice:hover::after {
  left: 0;
}

