.container{
    position: relative;
}
.logo{
    position: relative;
    margin-top: 20px;
    width: 120px;
    cursor: pointer;
}

.container h1{
    margin-top: -40px;
    padding-left: 100px;
    color: rgba(72,48,66,1);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:normal;
    font-size: x-large;
}

.legend{
    height: 100px;
    /* padding-right: 20px; */
    text-align: center;
    background-color: #f5978c;
    margin-right: 150px;
    margin-left: 100px;
    border-radius: 30px;
}
.legend h3{
    width: 1000px;
    padding-left: 40px;
    color:rgba(72,48,66,1);
    font-style: italic;
    font-size: larger;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, monospace;
    text-align: center;
}

.sliderCard{
    display: flex;
    flex-direction: row;
    padding-right: 100px;
    margin-top: 5px;
}
.card{
    margin-left: 580px;
    margin-top: -420px;
}