.container{
    position: relative;
    width: 100%;
}
.logo{
    position: relative;
    margin-top: 20px;
    width: 120px;
    cursor: pointer;
}

.legend{
    text-align: center;
    width: 65%;
    margin: 1.5rem auto;
    background-color: transparent;
    border: 2px solid var(--color-prim);
    box-shadow: 0 0 15px var(--color-prim);
    border-radius: 15px;
}
.legend h3{
    color: rgb(218, 218, 218);
    padding: 2rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}

.containerPack {
    width: 90%;
    margin: 3.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderCard{
    margin-top: 1rem;
}

.card {
    margin-top: 1rem;
}