.containCp{
    /* width: 640px; */
    height: 450px;
    display: flex;
}

.containEx{
    background-color: #fff7f5;
    width: 220px;
    height: 420px;
    text-align: center;
    border: 1px solid #f5978c;
    cursor:cell;
}
.containEx:hover{
    transform: scale(1.2);
}
.containEx h2{
    margin-right: 30px;
    font-style: italic;
    font-weight: 900;
    color: #f5978c;
    text-shadow: 0.05em 0.05em rgba(72, 48, 66,1);
    padding-left: 20px;
}

.containEx li{
    width: 180px;
   /* margin-left: -15px; */
   font-size: medium;
   font-style: normal;
   font-weight: 600;
   color: rgba(72, 48, 66,1);
}

.containEx h4{
    background-color: #f5978c;
    border: 1px solid rgba(72, 48, 66,1);
    border-radius: 2px;
    color:rgba(72, 48, 66,1);
    font-size: medium;
}