.containCp {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.containEx {
  text-align: center;
  border: 1px solid var(--color-prim);
  cursor: cell;
  color: #fff;
  box-shadow: 0 0 15px var(--color-prim);
}
.containEx:hover {
  transform: scale(1.2);
}
.containEx h2 {
  font-weight: 900;
  color: var(--color-prim);
  text-shadow: 0 0 4px var(--color-prim);
}

.listStandar li{
    font-size: 1rem;
    text-align: center;
    margin-right: 1rem;
}

.containEx h4 {
  background-color: var(--color-prim);
  border: 1px solid rgba(72, 48, 66, 1);
  color: #fff;
  width: 100%;
  font-size: 1.1rem;
  /* margin-block-start: 47px; */
}
