.ingresar_registrarse{    
    display: flex;
    justify-content: flex-end;
    background: #f5978c;
    background: linear-gradient(160deg, #f5978c 47%, rgb(72, 48, 66) 30%, rgba(72,48,66,1) 14%);
    height: 300px;
    margin-top: 5%;
}
.ingresar{
    position: absolute;
    text-decoration: none; 
    border: 2.5px solid #fb6d10;
    border-radius: 10px;
    color: #683042;
    font-weight: 700;
    font-style: italic;
    font-size: larger;
    padding: 0px 2px 0px 2px;
    margin: 4% 30% 0px 4px;
    background-color:#f5978c;
    cursor: pointer;
}
.registrarse{
    position: absolute;
    text-decoration: none;
    border: 2.5px solid #fb6d10;    
    border-radius: 10px;
    color: #683042;
    font-weight: 700;
    font-style: italic;
    font-size: larger;
    padding: 0px 2px 0px 2px;
    margin: 4% 10% 0px 4px;
    background-color:#f5978c;
    cursor: pointer;
}
.image_strong{
    margin: 20px 47% 20px 0px;
    border-radius: 20px;
}
.parrafo1_landing{
    position: absolute;
    color: #fff7f5;
    font-style: italic;
    font-weight: 900;
    font-size:x-large ;
    margin: 11% 2% 0px 50%
}
.promos{
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0.5%;
    border: 2.5px solid #fb6d10;
    border-radius: 19px;
    color: #683042;
    font-style: italic;
    font-weight: 700;
    font-size: x-large;
    cursor: pointer;
}
.promo_div{
    margin: 4% 0% 4% 0;
}
.mujer_hombre{
    max-width:100%;
}
.titulo_empeza{
    position: absolute;
    font-size: 50px;
    font-style: italic;
    font-weight: 800;
    color: #fff5fc;
    margin: 1% 30% 0 25% 
}
.footer_empeza{
    position: absolute;
    padding: 40% 25% 0 25%;
    color: #fff7f5;
    font-size: x-large;
    font-style: italic;
}
.empeza_aqui{
    position: absolute;
    text-decoration: none;
    margin: 49% 0 0 41%;
    padding: 0.5%;
    font-size: x-large;
    font-style: italic;
    font-weight: 800;
    border: 3px solid white;
    border-radius: 20px;
    background-color: white;
    color: black;
}
.unite_gyms{
    max-width:100%;
}
.titulo_unite{
    position: absolute;
    font-size: 50px;
    font-style: italic;
    font-weight: 800;
    color: #fff7f5;
    margin: 1% 30% 0 25% 
}
.footer_unite{
    position: absolute;
    padding: 40% 25% 0 25%;
    color: #fff7f5;
    font-size: x-large;
    font-style: italic;
}
.unite_aqui{
    position: absolute;
    text-decoration: none;
    margin: 49% 0 0 41%;
    padding: 0.5%;
    font-size: x-large;
    font-style: italic;
    font-weight: 800;
    border: 3px solid white;
    border-radius: 20px;
    background-color: white;
    color: black;
}
.promos_usuarios{
    display: flex;
    justify-content:space-between;
}
.promo_balance{
    border: 4px solid #f5978c;
    border-radius: 15px;
    padding: 0 5% 0 5%;
    margin:4% 0% 4% 11%;    
}
.promo_bulk{
    border: 4px solid rgb(72, 48, 66);
    border-radius: 15px;
    padding: 0 5% 0 5%;
    margin:4% 11% 4% 0%; 
}
.balance_lista{    
    text-align: left;
    margin: 0;
    padding: 0;
}
.bulk_lista{
    text-align: left;
    margin: 0;
    padding: 0
}
.precio_balance{
    text-decoration: none;
}
.precio_bulk{
    
}