.card {
  padding: 0.8em;
  background: #e2e2e2;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  top: 0px;
  margin: 0 auto;
  text-align: center;
  width: 300px;
  border-radius: 5px;
  color: black;
  position: relative;
  display: inline-block;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.cardImg {
  /* height: 40%; */
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.cardInfo {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.cardFooter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.textTitle {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.textBody {
  /* font-size: 1.1em; */
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Button*/
.cardButton {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.cardImg:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.cardButton:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

.btnAddFavourite {
  color: rgb(22, 22, 22);
}

.btnAddFavourite:hover {
  cursor: pointer;
  color: rgb(43, 63, 177);
}